.avatarBar {
    height: 2.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: gray;

    .append,
    .extra {
        display: flex;

        align-items: center;
        overflow: hidden;
    }

    .append {
        justify-content: flex-start;
        flex-basis: 65%;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .extra {
        justify-content: flex-start;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }

    .userlinkContainer {
        margin-left: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        div {
            display: flex;
            align-items: center;
        }
    }
}