@font-face {
  font-family: 'iconfont';  /* project id 1054073 */
  src: url('//at.alicdn.com/t/font_1054073_fofs7pyg7kb.eot');
  src: url('//at.alicdn.com/t/font_1054073_fofs7pyg7kb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1054073_fofs7pyg7kb.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1054073_fofs7pyg7kb.woff') format('woff'),
  url('//at.alicdn.com/t/font_1054073_fofs7pyg7kb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1054073_fofs7pyg7kb.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reply:before {
  content: "\e7e1";
}

.icon-reply1:before {
  content: "\e6d6";
}

.icon-kefu:before {
  content: "\ec2f";
}

.icon-bianjisekuai:before {
  content: "\ec84";
}

.icon-tupiantianjia:before {
  content: "\ec87";
}

.icon-dianzan:before {
  content: "\ec8c";
}

.icon-xiaolian:before {
  content: "\ec96";
}

.icon-zitiyulan:before {
  content: "\ec9f";
}

.icon-bar:before {
  content: "\e631";
}
