.postdataContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.postdataContainer .header .avatar {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}
.postdataContainer .header .avatar img {
  width: 100%;
}
.postdataContainer .header .username {
  font-size: 12px;
  margin: 4vw 4vw;
  display: flex;
  align-items: center;
}
.postdataContainer > div > marquee {
  font-size: 2rem;
  margin-bottom: 4vw;
  text-align: center;
}
.postdataContainer > div > div:last-child {
  color: gray;
  margin-left: 2px;
}
.post-user-data-like {
  background-image: url('../../assets/icons/profile/ic_user_data_like.png');
}
.post-user-data-read {
  background-image: url('../../assets/icons/profile/ic_user_data_read.png');
}
.post-user-data-comment {
  background-image: url('../../assets/icons/profile/ic_user_data_comment.png');
}
