.icon-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 4px 0 4px 0;
    .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.hot-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &>div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
}

.juejin-explore-post {
    background-image: url("../../assets/icons/explore/explore_post.png");
}

.juejin-explorer-entry-board {
    background-image: url('../../assets/icons/explore/explorer_entry_board.png')
}

.juejin-explorer-followee-liked {
    background-image: url('../../assets/icons/explore/explorer_followee_liked.png')
}

.juejin-explorer-user-board {
    background-image: url('../../assets/icons/explore/explorer_user_board.png')
}


.juejin-explorer-topic-square {
    background-image: url('../../assets/icons/explore/explorer_topic_square.png')
}

.juejin-explorer-offline {
    background-image: url('../../assets/icons/explore/explorer_offline.png')
}

.juejin-explorer-tag-settings {
    background-image: url('../../assets/icons/explore/explorer_tag_settings.png')
}


.juejin-explorer_hot_small {
    background-image: url('../../assets/icons/explore/explorer_hot_small.png')
}