.commentContent {
  white-space: pre-wrap;
  margin-left: 2rem;
  small {
    color: #000;
  }
}

.commentInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 5.5rem;
  img {
    width: 1rem;
    height: 1rem;
  }
}

.replyContainer {
  background-color: @comment-text-bg;
}