.myEntry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    width: 100vw;
    margin-top: .4rem;
    padding: 0 .5rem .5rem .5rem;
    min-height: 8rem;

    .entryAvatar {
        height: 2rem;
        width: 100%;
    }

    .entryBox {
        overflow: hidden;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-height: 5rem;
        margin: .4rem 0;

        img {
            height: 5rem;
            width: 5rem;
        }

        .title {
            font-weight: bold;
            line-height: 1.25rem;
            margin: .25rem 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
        }

        .content {
            font-size: smaller;
            line-height: 1rem;
            color: gray;
            overflow: hidden;
            height: 3rem;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
        }
    }

    .info {
        min-width: 30%;
        height: 1.5rem;
        line-height: 1.5rem;
    }
}