code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
    /*隐藏滚轮*/
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 1rem;
    margin: .25rem 0;
    line-height: 1.25rem;
}

small {
    font-size: 10px;
    color: gray;
}